importlib
matplotlib
nibabel
numpy
pypulseq@git+https://github.com/imr-framework/pypulseq#egg=master
scipy
sphinx
sphinx-rtd-theme
sphinx-argparse==0.4.0
PyQt5
twixtools@git+https://github.com/pehses/twixtools#egg=master
fslpy
numpydoc
pydata_sphinx_theme
pynufft
nmrglue
-e .
