name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint matplotlib numpy pypulseq scipy pypulseq@git+https://github.com/tblazey/pypulseq#egg=dev PyQt5 nibabel
    - name: Analysing the code with pylint
      run: |
        pylint --extension-pkg-whitelist=PyQt5 --fail-under=8 $(git ls-files '*.py')
